@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
  background-color:whitesmoke;
}
.app_sidebar {
  background-color: aqua;
}
.app_mainbar{
  background-color: pink;
}